@tailwind base;
@tailwind components;
@tailwind utilities;

/* LIGHT */
:root {
  --bg: #F8FAFC;        /* bg claro */
  --fg: #0F172A;        /* texto */
  --muted: #475569;     /* slate-600 */
  --primary: #00B39A;   /* turquesa (light) */
  --secondary: #5B21B6; /* roxo/anil (light) */
  --border: rgba(2, 6, 23, 0.08);
}

/* DARK */
.dark {
  --bg: #0B0E14;        /* vibe IDE */
  --fg: #E2E8F0;        /* texto */
  --muted: #94A3B8;     /* slate-400 */
  --primary: #00D1B2;   /* turquesa (dark) */
  --secondary: #7C3AED; /* roxo/anil (dark) */
  --border: rgba(148, 163, 184, 0.15);
}

html, body {
  @apply bg-bg text-fg font-sans;
}
